<header class="header">
  <section class="flex">
    <a href="/" class="logo">Web Tribe</a>

    <nav class="navbar">
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/menu">menu</a>
      <a href="/orders">orders</a>
      <a href="/contact">contact</a>
    </nav>
    <div class="icons">
      <a href="/search"><i class="fas fa-search"></i></a>
      <a href="/cart" id="cart"
        ><i class="fas fa-shopping-cart"></i><span></span
      ></a>
      <div id="user-btn" class="fas fa-user"></div>
      <div id="menu-btn" class="fas fa-bars"></div>
    </div>

    <div class="profile">
      <p class="name">abc xyz 123</p>
      <div class="flex">
        <a href="/profile" class="btn">profile</a>
        <a
          href="#"
          onclick="return confirm('logout from this website?');"
          class="delete-btn"
          >logout</a
        >
      </div>
      <p class="account">
        <a href="/login">login</a> or <a href="/register">register</a>
      </p>
    </div>
  </section>
  <script src="js/script.js"></script>
  <script src="js/cookie.js"></script>
  <script src="js/cart.js"></script>
</header>
