<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ABOUT</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <!--header section-->
    <%- include('partials/headersection'); %>
    <!--header section-->

    <div class="heading">
      <h3>about us</h3>
      <p><a href="home.html">home</a> <span> / about</span></p>
    </div>

    <!--about section-->

    <section class="about">
      <div class="row">
        <div class="image">
          <img src="images/Chef-cuate.png" alt="" />
        </div>

        <div class="content">
          <h3>why choose us?</h3>
          <p>
            Our menu offers a wide range of delicious dishes, prepared by
            experienced chefs using the finest and highest quality fresh
            ingredients. We also provide a warm and cozy atmosphere, perfect for
            meeting friends, celebrating special occasions, or enjoying a
            romantic dinner for two. Our restaurant is the perfect place to
            relax and enjoy a superb meal.
          </p>
          <a href="/menu" class="btn">our menu</a>
        </div>
      </div>
    </section>

    <!--about section-->

    <!--steps setion-->

    <section class="steps">
      <h1 class="title">simple steps</h1>

      <div class="box-container">
        <div class="box">
          <img src="images/select-menu.png" alt="" />
          <h3>choose order</h3>
          <p>
            Multiple diverse options will surely always satisfy your taste.
          </p>
        </div>

        <div class="box">
          <img src="images/delivery.png" alt="" />
          <h3>fast delivery</h3>
          <p>
            Enjoying your favorite food at your favorite location within 30
            minutes!
          </p>
        </div>

        <div class="box">
          <img src="images/enjoy-meal.png" alt="" />
          <h3>enjoy food</h3>
          <p>
            Enjoy your food with the services we provide.
          </p>
        </div>
      </div>
    </section>

    <!--steps setion-->

    <!--review section-->

    <section class="reviews">
      <h1 class="title">customer's reviews</h1>

      <div class="swiper reviews-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide">
            <img src="images/pic-1 (1).jpg" alt="" />
            <p>
              The food is very delicious, and the diverse menu is suitable for
              various groups of people, families, and different ages.
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h3>Tuấn</h3>
          </div>

          <div class="swiper-slide slide">
            <img src="images/pic-2 (2).jpg" alt="" />
            <p>
              The food is very delicious, and the diverse menu is suitable for
              various groups of people, families, and different ages.
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h3>Tuấn</h3>
          </div>

          <div class="swiper-slide slide">
            <img src="images/pic-3.jpg" alt="" />
            <p>
              The food is very delicious, and the diverse menu is suitable for
              various groups of people, families, and different ages.
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h3>Tuấn</h3>
          </div>

          <div class="swiper-slide slide">
            <img src="images/pic-4.jpg" alt="" />
            <p>
              The food is very delicious, and the diverse menu is suitable for
              various groups of people, families, and different ages.
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h3>Tuấn</h3>
          </div>

          <div class="swiper-slide slide">
            <img src="images/pic-5.jpg" alt="" />
            <p>
              The food is very delicious, and the diverse menu is suitable for
              various groups of people, families, and different ages.
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h3>Tuấn</h3>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!--review section-->

    <!--footer-->
    <footer class="footer">
      <section class="grid">
        <div class="box">
          <img src="images/email.png" alt="" />
          <h3>our email</h3>
          <a href="mailto:dungviet2k3@gmail.com">dungviet2k3@gmail.com</a>
          <a href="mailto:21521976@gm.uit.edu.vn">21521976@gm.uit.edu.vn</a>
        </div>

        <div class="box">
          <img src="images/alarm-clock.png" alt="" />
          <h3>opening hours</h3>
          <p>10:00am to 14:00pm 20:00pm to 24:00pm</p>
        </div>

        <div class="box">
          <img src="images/placeholder.png" alt="" />
          <h3>our address</h3>
          <a href="#">178 Pasteur. P .Bến Nghé, Q1, TP. HCM</a>
        </div>

        <div class="box">
          <img src="images/phone-call.png" alt="" />
          <h3>our number</h3>
          <a href="tel:123456789">123-456-789</a>
          <a href="tel:113456789">113-456-789</a>
        </div>
      </section>

      <div class="credit">
        created by <span>me and my team</span> | all rights
      </div>
    </footer>
    <!--footer-->

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!--custom js file link-->
    <%- include('partials/headersection'); %>

    <script>
      var swiper = new Swiper(".reviews-slider", {
        loop: true,
        grabCursor: true,
        spaceBetween: 20,

        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          0: {
            slidesPerView: 1,
          },
          700: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
          },
        },
      });
    </script>
  </body>
</html>
