<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CART</title>

    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <!--header section-->
    <%- include('partials/headersection'); %>
    <!--header section-->

    <div class="heading">
      <h3>shopping cart</h3>
      <p><a href="home.html">home</a> <span> / cart</span></p>
    </div>

    <!-- shopping cart section-->

    <section class="products">
      <h1 class="title">your cart</h1>

      <div class="cart-total">
        <p>cart total : <span><%= total %> vnd</span></p>
        <a href="/checkout" class="btn">proceed to checkout</a>
      </div>

      <div class="box-container">
        <% for(let item of Cart) { %>
          
        <form action="/cart/editcart?_method=PATCH" method="POST" class="box">
          <a href='/menu/<%= item.products._id %>' alt=''>             <img src="/<%= item.products.image %>" alt="" />
          </a>
          
          <button
          type="submit"
          class="fas fa-times"
          name="qu"
          value="0"
        ></button>
          <a href="/category?q=<%= item.products.type %>" class="cat"><%= item.products.type %></a>
          <div class="name"><%= item.products.title %></div>
          <div class="flex">
            <div class="price"><%= item.products.price %> <span>vnd</span></div>
            <input type="hidden" name="id" value="<%=item.products._id %>" />

            <input
              type="number"
              id="quantitychange_<%=item.products._id  %>"
              name="quantity"
              class="qty"
              min="1"
              max="99"
              value="<%=item.quantity  %>"
              onkeypress="if(this.value.length == 2) return false;"
            />         
            <button
            class="fas fa-edit"
            ></button>          </div>
          <div class="sub-total">sub total : <span><%=item.products.price*item.quantity %> vnd</span></div>
        </form>
        <% } %>
        
      </div>

 <!-- shopping cart section-->
    <!--footer-->
    </section>

    <!-- shopping cart section-->

    <!--footer-->
    <footer class="footer">
      <section class="grid">
        <div class="box">
          <img src="images/email.png" alt="" />
          <h3>our email</h3>
          <a href="mailto:dungviet2k3@gmail.com">dungviet2k3@gmail.com</a>
          <a href="mailto:21521976@gm.uit.edu.vn">21521976@gm.uit.edu.vn</a>
        </div>

        <div class="box">
          <img src="images/alarm-clock.png" alt="" />
          <h3>opening hours</h3>
          <p>10:00am to 14:00pm 20:00pm to 24:00pm</p>
        </div>

        <div class="box">
          <img src="images/placeholder.png" alt="" />
          <h3>our address</h3>
          <a href="#">178 Pasteur. P .Bến Nghé, Q1, TP. HCM</a>
        </div>

        <div class="box">
          <img src="images/phone-call.png" alt="" />
          <h3>our number</h3>
          <a href="tel:123456789">123-456-789</a>
          <a href="tel:113456789">113-456-789</a>
        </div>
      </section>

      <div class="credit">
        created by <span>me and my team</span> | all rights
      </div>
    </footer>
    <!--footer-->

    <!--custom js file link-->
  </body>
</html>
