<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>REGISTER</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <!--header section-->
    <%- include('partials/headersection'); %>
    <!--header section-->

    <section class="form-container">
      <form id="userRegister" method="POST">
        <h3>register now</h3>
        <input
          type="number"
          name="number"
          required
          placeholder="enter your number"
          class="box"
          maxlength="50"
        />
        <input
          type="email"
          name="email"
          required
          placeholder="enter your email"
          class="box"
          maxlength="50"
        />
        <input
          type="password"
          name="password"
          required
          placeholder="enter your password"
          class="box"
          maxlength="50"
        />
        <input type="submit" value="register now" class="btn" />
        <p>already have an account? <a href="login.html">login now</a></p>
      </form>
      <script>
        $(document).ready(function () {
          $("#userRegister").on("submit", function (e) {
            e.preventDefault();
            const formData = $(this).serialize();
            console.log("register ajax ready, formData: ", formData);
            $.ajax({
              url: "/user/handlesignup",
              type: "POST",
              data: formData,
              success: function (response) {
                // $("#response").text("Success: " + response.message);
                console.log("register ajax sucess, token send back: ", response.token);
              },
              error: function (response) {
                // $("#response").text("Success: " + response.message);
                console.log("register ajax faile");
                // $("#userRegister")[0].reset();
              },
            });
          });
        });
      </script>
    </section>

    <!--custom js file link-->
  </body>
</html>
