<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SEARCH</title>

    <link rel="stylesheet" href="../../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <!--header section-->
    <%- include('partials/headersection'); %>

    <section class="search-form">
      <form action="items/search">
        <input
          type="search"
          id="mySearch"
          name="q"
          placeholder="search here..."
          class="box"
        />
        <button class="fas fa-search"></button>
      </form>
    </section>
    <!--search section--
       





        <!--footer-->
    <footer class="footer">
      <section class="grid">
        <div class="box">
          <img src="images/email.png" alt="" />
          <h3>our email</h3>
          <a href="mailto:dungviet2k3@gmail.com">dungviet2k3@gmail.com</a>
          <a href="mailto:21521976@gm.uit.edu.vn">21521976@gm.uit.edu.vn</a>
        </div>

        <div class="box">
          <img src="images/alarm-clock.png" alt="" />
          <h3>opening hours</h3>
          <p>10:00am to 14:00pm 20:00pm to 24:00pm</p>
        </div>

        <div class="box">
          <img src="images/placeholder.png" alt="" />
          <h3>our address</h3>
          <a href="#">178 Pasteur. P .Bến Nghé, Q1, TP. HCM</a>
        </div>

        <div class="box">
          <img src="images/phone-call.png" alt="" />
          <h3>our number</h3>
          <a href="tel:123456789">123-456-789</a>
          <a href="tel:113456789">113-456-789</a>
        </div>
      </section>

      <div class="credit">
        created by <span>me and my team</span> | all rights
      </div>
    </footer>
    <!--footer-->

    <!--custom js file link-->
    <script src="js/script.js"></script>
    <script src="js/cookie.js"></script>
  </body>
</html>
