<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UPDATE PROFILE</title>

    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <!--header section-->
    <%- include('partials/headersection'); %>
    <!--header section-->

    <section class="form-container">
      <form action="" method="post">
        <h3>update profile</h3>
        <input
          type="text"
          name="name"
          required
          placeholder="enter your email"
          class="box"
          maxlength="50"
        />
        <input
          type="email"
          name="email"
          required
          placeholder="enter your email"
          class="box"
          maxlength="50"
          oninput="this.value = this.value.replace(/\s/g, '')"
        />
        <input
          type="password"
          name="pass"
          required
          placeholder="enter your old password"
          class="box"
          maxlength="50"
          oninput="this.value = this.value.replace(/\s/g, '')"
        />
        <input
          type="password"
          name="pass"
          required
          placeholder="enter your new password"
          class="box"
          maxlength="50"
          oninput="this.value = this.value.replace(/\s/g, '')"
        />
        <input
          type="password"
          name="cpass"
          required
          placeholder="confirm your new password"
          class="box"
          maxlength="50"
          oninput="this.value = this.value.replace(/\s/g, '')"
        />
        <input type="submit" value="update now" name="submit" class="btn" />
      </form>
    </section>

    <!--footer-->
    <footer class="footer">
      <section class="grid">
        <div class="box">
          <img src="images/email.png" alt="" />
          <h3>our email</h3>
          <a href="mailto:dungviet2k3@gmail.com">dungviet2k3@gmail.com</a>
          <a href="mailto:21521976@gm.uit.edu.vn">21521976@gm.uit.edu.vn</a>
        </div>

        <div class="box">
          <img src="images/alarm-clock.png" alt="" />
          <h3>opening hours</h3>
          <p>10:00am to 14:00pm 20:00pm to 24:00pm</p>
        </div>

        <div class="box">
          <img src="images/placeholder.png" alt="" />
          <h3>our address</h3>
          <a href="#">178 Pasteur. P .Bến Nghé, Q1, TP. HCM</a>
        </div>

        <div class="box">
          <img src="images/phone-call.png" alt="" />
          <h3>our number</h3>
          <a href="tel:123456789">123-456-789</a>
          <a href="tel:113456789">113-456-789</a>
        </div>
      </section>

      <div class="credit">
        created by <span>me and my team</span> | all rights
      </div>
    </footer>
    <!--footer-->

    <!--custom js file link-->

  </body>
</html>
